# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

backend_docs/
local_config/

miniprogram/app.js

/backend/config/config.py
/backend/config/database.py

backend/stock_fundamental/*
backend/stock_history/*